@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #151315;
  color: #ffffff79;
}
.custom_text_gradient {
  background-image: -webkit-linear-gradient(45deg, #db00fb, #ff6200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  color: #ffffff;
}
/* a:visited {
  background-image: -webkit-linear-gradient(45deg, #db00fb, #ff6200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}  */
a:active {
  background-image: -webkit-linear-gradient(45deg, #db00fb, #ff6200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom_border_gradient {
  position: relative;
  padding: 3.5px 14px;
  border-radius: 8px;
}
.custom_border_gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 8px;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(45deg, #db00fb, #ff6000) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.border_gradient {
  border-radius: 16px;
}
.border_gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border-width: 1px;
  border: 2px solid transparent; /*2*/
  background: linear-gradient(45deg, #db00fb, #ff6000) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


.partner::before {
  content: 'send us a message';
  background-image: -webkit-linear-gradient(45deg, #db00fb, #ff6200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message {
  position: relative;
  padding: 6px 8px;
  padding-top: 0px;
  border-radius: 8px;
}
.message::after {
  z-index: -8;
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(#fff 0 0) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
}

.cross__gradient {
  position: relative;
}

.cross__gradient::before {
  z-index: -5;
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border: 2px solid transparent; /*2*/
  background: linear-gradient(45deg, #00f2b1, #db00fb, #ff6000) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


.overlay {
  visibility: hidden;
  opacity: 0;
  /* transition: visibility 0.2s linear; */
  transition: visibility 0.2s, opacity 0.5s linear;
}
/* .trigger::after {
  content: url(../src/assets/arrowdown.png);
  margin-left: 12px;
  padding-bottom: 4px;
  translate:(-6px, 0) ;
} */

/* .overlay_container:hover > a::after {
  content: url(../src/assets/arrowup.png);
} */

.overlay_container:hover > a {
  color: #ffffff;
}

.trigger:hover + .overlay {
  visibility: visible;
  opacity: 1;
}
.overlay:hover {
  visibility: visible;
  opacity: 1;
}



.product__one {
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-image: none;
  transition: background-image 1s linear;
}
.product__one:hover {
  background-image: -webkit-linear-gradient(45deg, #db00fb, #ff6200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product__description {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.arrow {
  translate:(-8px, 0);
}
