@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #151315;
  color: #ffffff99;
}
.custom__gradient {
  background: -webkit-linear-gradient(#db00fb, #ff6000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
